html, body {
    height: 100%;
    margin: 10;
}

/* Wrapper for the map to control size */
#map-wrapper {
    width: 50px;
    height: 50px;
    margin: 40px auto;
    border: 1px solid #aaa;
    border-radius: 10px;
    overflow: hidden;
}

/* Actual map fills the wrapper */
#map {
    width: 50%;
    height: 50%;
}

/* Search bar container */
#search-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

#search-input {
    width: 250px;
    padding: 6px;
}

#search-btn {
    padding: 6px 12px;
    margin-left: 5px;
}

#form {
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

#button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

#svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

#image {
    width: 50px; 
    height: 50px; 
}