<!DOCTYPE html>
<html>
<head>
    <title>No Excuses</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <style>
        body {
            background-image: url('/static/images/untitled_design.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>
<body>
    <h1>Welcome to No Excuses!</h1>
    <h1>You are jaded with life right now, but we can build with this!</h1>
    <p>Does any ONE of these fit with you right now? </p>
    <ul>
        <li>Tired of your bad health</li>
        <li>Frustrated with your lack of social skills</li>
        <li>The modern news cycle of negativity biting you on the inside</li>
        <li>No motivation/discipline</li>
        <li>Procrasination</li>
        <li>Weak time management skills</li>
        <li>Losing that child like ambition for life</li>
        <li>Can't enjoy past interests</li>
    </ul>
    <p class="center-text"><em>I've been through all of this, so I'll teach you all I know!</em></p>

    <h1>IMPORTANT: This will be inhibited into you with unapologetic honesty, and the info is free!</h1>

    <p class="center-text"><b>Gym Reccomendation System: </b> <a href="http://127.0.0.1:8000/map">link text</a></p>
    <p class="center-text">Mental Health and Discipline: Start small and become a real beast!</p>

    <!-- Put links for gymrec and other stuff -->


</body>
</html>