<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/style.css" />
	<title>My Comeback</title>
</head>
<body>
	<h1 class="big">Chapter 1: Intro</h1>
	<p>Picture this, imagine being 16 years old, it’s the middle of winter in 2023, I’ve had stints of tough times before and and have had bouts of adversity afterwards. But this 6 month stint in my life threw me through hell, nothing went right: I was a tall but super lanky kid who was 6’2 and 115 lbs my Sophomore year of High School, tons of brain fog preventing me from doing my hardest at school. I threw away my social skills because I was around people in my school I frankly disliked, my self confidence was down the drain and I didn’t stand up for myself. To put it short, in every aspects of being a man I was weak. This is how I made it out.</p>

	<h1 class="big">Chapter 2: The Quest To Do A Pushup</h1>
</body>
</html>